<!-- Indicators -->
<div class="container mainHome">
    <div class="col-md-offset-4">
        <h3 style="color:white;">Join Us</h3>
    </div>
</div>

<br />
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <a href="#" class="thumbnail">
                    <img src="../../images/Most-imp-things-you-should-do-before-workout.jpeg" />
                </a>
                <h3>Free Workout Plans</h3>
                <p>Get best Workout plan for you Goal and Body</p>
            </div>
            <div class="col-md-3">
                <a href="#" class="thumbnail">
                    <img src="../../images/b7119144523cafb136e827e3cd4f9864.jpg" style="height:200px; width:247px;" />
                </a>
                <h3>Awesome Food Plans</h3>
                <p>Get The Best Food plans ever</p>
            </div>
            <div class="col-md-3">
                <a href="#" class="thumbnail">
                    <img src="../../images/six-pack-abs-arm-workout.jpg" style="height:200px; width:300px;" />
                </a>
                <h3>Get Your Dream Body in No time</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
            </div>
        </div>
    </div>
    <!-- /.section -->

    <hr>
    <div class="section">
        <div class="row">
            <div class="col-md-7">
                <h1>Gym equipment Coming soon</h1>
                <p>get your own equipment <span class="fa fa-heart"></span></p>
            </div>
            <div class="col-md-5">
                <img src="../../images/dumbbells.jpg" />
            </div>
        </div>
    </div>
    <!-- /.section -->
    <hr>

</div>