<div class="container singUp">
    <br />
    <form class="form-login" role="form">
        <h2 class="form-login-heading" style="color:white">Sign up</h2>
        <input type="text" class="SungUpinputDesing" placeholder="Username" data-ng-model="registration.userName" required autofocus />
        <br />
        <input type="text" class="SungUpinputDesing" placeholder="Email" data-ng-model="registration.email" required autofocus>
        <br />
        <input type="password" class="SungUpinputDesing" placeholder="Password" data-ng-model="registration.password" required>
        <br />
        <input type="password" class="SungUpinputDesing" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" required>
        <br />
        <button class="Buttoninput" type="submit" data-ng-click="signUp()">Submit</button>
        <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
            {{message}}
        </div>
    </form>
</div>